<div class="columns">
  <div class="column is-4 is-offset-4">
    <h3 class="title has-text-grey"><%= t('masto_login.please') %></h3>
    <div class="box">
      <%= form_tag user_mastodon_omniauth_authorize_path, method: :post, 'data-toggle' => 'validator' do %>
      <div class="field">
        <%= label_tag(:identifier, t('masto_login.identifier'), class: 'label') %>
        <%= text_field_tag(:identifier, '', type: 'email', class: 'input', placeholder: Rails.configuration.x.announcement_account_at, required: '') %>
      </div>
      <%= submit_tag t('masto_login.login'), class: 'button is-block is-info is-large is-fullwidth' %>
      <% end %>
    </div>
  </div>
</div>
