<p><%= t(".mastodon_account_html", uid: @uid) if @uid %></p>
<p><%= t(".twitter_account_html", handle: @handle) if @handle %></p>
<% unless current_user.posting_from_twitter? || current_user.posting_from_mastodon? %>
<p><%= t :no_sync_right_now %></p>
<% else %>
  <p>
  <% case @stoplight_domain_status %>
  <% when "red" %>
    <span class="has-background-danger has-text-white"><%= t(:mastodon_instance_unavailable) %></span>
  <% when "yellow" %>
    <span class="has-background-warning has-text-white"><%= t(:mastodon_instance_recently_unavailable) %></span>
  <% when "green" %>
    <%= t(:mastodon_instance_healthy) %>
  <% end %></p>

  <% if current_user.posting_from_twitter? %>
  <p><%= t :tweets_posted_to_mastodon %><br />
  <%= t(:twitter_original_visibility_status) %> <%= t("masto_privacy_for_status.#{current_user.twitter_original_visibility || 'default'}") %><br />

  <%= t(:twitter_not_posting_rt) if current_user.retweet_do_not_post? %>
  <%= t(:twitter_posting_rt_old_style) if current_user.retweet_post_as_old_rt? %>
  <%= t(:twitter_posting_rt_old_style_with_link) if current_user.retweet_post_as_old_rt_with_link? %>
  <% unless current_user.retweet_do_not_post? %> <%= t(:twitter_retweet_visibility_status) %> <%= t("masto_privacy_for_status.#{current_user.twitter_retweet_visibility || 'default'}") %> <% end %><br />

  <%= t(:twitter_not_posting_quote) if current_user.quote_do_not_post? %>
  <%= t(:twitter_posting_quote_old_style) if current_user.quote_post_as_old_rt? %>
  <%= t(:twitter_posting_quote_old_style_with_link) if current_user.quote_post_as_old_rt_with_link? %>
  <% unless current_user.quote_do_not_post? %> <%= t(:twitter_quote_visibility_status) %> <%= t("masto_privacy_for_status.#{current_user.twitter_quote_visibility || 'default'}") %> <% end %><br />

  <%= current_user.twitter_reply_do_not_post? ? t(:twitter_not_posting_reply) : t(:twitter_posting_reply_to_self) %><br />

  <%= t(:twitter_content_warning_status, cw: current_user.twitter_content_warning) unless current_user.twitter_content_warning.blank? %></p>
  <% end %>
  <% if current_user.posting_from_mastodon? %>
  <p><%= t :toots_posted_to_twitter %><br />
  <%= current_user.masto_should_post_unlisted? ? t(:masto_posting_unlisted) : t(:masto_not_posting_unlisted) %>
  <%= current_user.masto_should_post_private? ? t(:masto_posting_private) : t(:masto_not_posting_private) %>
  <%= (current_user.boost_options == 'masto_boost_do_not_post') ? t(:masto_not_posting_boost) : t(:masto_posting_boost_as_link) %>
  <%= current_user.masto_reply_do_not_post? ? t(:masto_not_posting_reply) : t(:masto_posting_reply_to_self) %></p>
  <% end %>
<% end %>

<p><%= t(:change_this_on_options, :options => link_to(t(:options), user_path)).html_safe %></p>
