<div class="content">
  <h1><%= t(".which_information") %></h1>
  <p><%= t(".we_collect") %></p>
  <p><%= t(".we_also_collect") %></p>
  <h1><%= t(".what_use") %></h1>
  <p><%= t(".we_use_for")%></p>
  <p><%= t(".we_also_use_for")%></p>
  <h1><%= t(".cookies") %></h1>
  <p><%= t(".we_use_cookies") %></p>
  <h1><%= t(".disclose_info") %></h1>
  <p><%= t(".we_do_not_disclose_info") %></p>
</div>
