<!DOCTYPE html>
<html>
  <head>
    <title>MastodonTwitterPoster</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/fork-awesome@1.0.11/css/fork-awesome.min.css" rel="stylesheet" integrity="sha384-uuYw9QCBRSK1iU8peX/dvpGqv5uv83afJrv7ZBTX8tG7dB+HR6JUDl20dBl30UZO" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        <%= link_to('Mastodon Twitter Crossposter', :root, class: 'navbar-brand') %>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to(t(:home), root_path)%></li>
            </ul>
            <ul class="nav navbar-nav">
              <li><%= link_to(t(:features), 'https://github.com/renatolond/mastodon-twitter-poster#features', target: :_blank) %></li>
            </ul>
            <ul class="nav navbar-nav">
              <li><%= link_to(t(:status), 'https://metrics.librato.com/s/public/241h4bwu2?duration=21600', target: :_blank) %></li>
            </ul>
            <% if current_user %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to(t(:log_out), destroy_user_session_path, method: :delete) %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to(t(:options), user_path) %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to(t(:accounts), account_path) %></li>
            </ul>
            <% end %>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      <% if flash[:success] %>
      <div class="alert alert-success" role="alert">
        <%= flash[:success] %>
      </div>
      <% end %>
      <% if flash[:notice] %>
      <div class="alert alert-info" role="alert">
        <%= flash[:notice] %>
      </div>
      <% end %>
      <% if flash[:alert] %>
      <div class="alert alert-warning" role="alert">
        <%= flash[:alert] %>
      </div>
      <% end %>
      <% if flash[:error] %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:error] %>
      </div>
      <% end %>
      <%= yield %>
    </div>
    <hr />
    <footer class="footer">
      <div class="container">

        <p><%=t :service_ran_by%> <%=link_to('@renatolond@masto.donte.com.br', 'https://masto.donte.com.br/@renatolond') %> / <%=link_to('@renatolond', 'https://twitter.com/renatolond')%>. <%=link_to(t(:source_code_and_issues), 'https://github.com/renatolond/mastodon-twitter-poster') %>.</br>
        <%=t(:for_news_and_status)%> <%= link_to('https://masto.donte.com.br/@crossposter', class: 'btn btn-social btn-sm btn-mastodon', target: '_blank') do %>
        <i class="fa fa-mastodon" aria-hidden="true"></i> <%= t('follow_us_on_the_fediverse') %>
        <% end %></p>
      </div>
    </footer>
  </body>
</html>
