<!DOCTYPE html>
<html>
  <head>
    <title>MastodonTwitterPoster</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/fork-awesome@1.0.11/css/fork-awesome.min.css" rel="stylesheet" integrity="sha384-uuYw9QCBRSK1iU8peX/dvpGqv5uv83afJrv7ZBTX8tG7dB+HR6JUDl20dBl30UZO" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to('Mastodon Twitter Crossposter', :root, class: 'navbar-item') %>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-start">
            <%= link_to(t(:home), root_path, class: 'navbar-item')%>
            <%= link_to(t(:features), 'https://github.com/renatolond/mastodon-twitter-poster#features', target: :_blank, class: 'navbar-item') %>
            <%= link_to(t(:status), 'https://metrics.librato.com/s/public/241h4bwu2?duration=21600', target: :_blank, class: 'navbar-item') %>
          </div>
          <div class="navbar-end">
            <% if current_user %>
            <%= link_to(t(:accounts), account_path, class: 'navbar-item') %>
            <%= link_to(t(:options), user_path, class: 'navbar-item') %>
            <%= link_to(t(:log_out), destroy_user_session_path, method: :delete, class: 'navbar-item') %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
      <% if flash[:error] %>
      <div class="notification is-danger">
        <%= flash[:error] %>
      </div>
      <% end %>
      <% if flash[:alert] %>
      <div class="notification is-danger">
        <%= flash[:alert] %>
      </div>
      <% end %>
      <% if flash[:notice] %>
      <div class="notification is-info">
        <%= flash[:notice] %>
      </div>
      <% end %>
      <% if flash[:success] %>
      <div class="notification is-success">
        <%= flash[:success] %>
      </div>
      <% end %>
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <hr />
    <footer class="footer">
      <div class="content has-text-centered">
        <p><%=t :service_ran_by%> <%=link_to('@renatolond@masto.donte.com.br', 'https://masto.donte.com.br/@renatolond') %> / <%=link_to('@renatolond', 'https://twitter.com/renatolond')%>. <%=link_to(t(:source_code_and_issues), 'https://github.com/renatolond/mastodon-twitter-poster') %>.</br>
        <%=t(:for_news_and_status)%> <%= link_to('https://masto.donte.com.br/@crossposter', class: 'button is-mastodon', target: '_blank') do %>
        <span class="icon is-small"><i class="fa fa-mastodon" aria-hidden="true"></i></span> <span><%= t('follow_us_on_the_fediverse') %></span>
        <% end %></p>
      </div>
    </footer>
  </body>
</html>
