<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.configuration.x.application_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if locale_direction == :rtl %>
      <%= stylesheet_link_tag "application-rtl", "data-turbo-track": "reload" %>
    <% else %>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% end %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://cdn.jsdelivr.net/npm/fork-awesome@1.0.11/css/fork-awesome.min.css" rel="stylesheet" integrity="sha384-uuYw9QCBRSK1iU8peX/dvpGqv5uv83afJrv7ZBTX8tG7dB+HR6JUDl20dBl30UZO" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to(Rails.configuration.x.application_name, :root, class: 'navbar-item') %>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-start">
            <%= link_to(t(".home"), root_path, class: 'navbar-item')%>
            <%= link_to(t(".privacy_policy"), privacy_path, class: 'navbar-item')%>
            <%= link_to(t(:features), "#{Rails.configuration.x.repo}#features", target: :_blank, class: 'navbar-item') %>
            <%= link_to(t(:status), Rails.configuration.x.stats, target: :_blank, class: 'navbar-item') unless Rails.configuration.x.stats.blank? %>
          </div>
          <div class="navbar-end">
            <% if current_user %>
            <%= link_to(t(:accounts), account_path, class: 'navbar-item') %>
            <%= link_to(t(:options), user_path, class: 'navbar-item') %>
            <%= link_to(t(:log_out), destroy_user_session_path, method: :delete, class: 'navbar-item') %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
      <% if flash[:error] %>
      <div class="notification is-danger">
        <%= flash[:error] %>
      </div>
      <% end %>
      <% if flash[:alert] %>
      <div class="notification is-danger">
        <%= flash[:alert] %>
      </div>
      <% end %>
      <% if flash[:notice] %>
      <div class="notification is-info">
        <%= flash[:notice] %>
      </div>
      <% end %>
      <% if flash[:success] %>
      <div class="notification is-success">
        <%= flash[:success] %>
      </div>
      <% end %>
      <div class="section">
        <%= yield %>
      </div>
    </div>
    <hr />
    <footer class="footer">
      <div class="section has-text-centered">
        <p>
          <%=t :service_ran_by%> <%=link_to("@#{Rails.configuration.x.admin_fedi_at}", Rails.configuration.x.admin_fedi_address) %><% unless Rails.configuration.x.admin_twitter.blank? %> / <%=link_to("@#{Rails.configuration.x.admin_twitter}", "https://twitter.com/#{Rails.configuration.x.admin_twitter}")%><% end %>.
          <%=link_to(t(:source_code_and_issues), Rails.configuration.x.repo) %>.</br>
          <% unless Rails.configuration.x.announcement_account_address.blank? %>
            <%=t(:for_news_and_status)%> <%= link_to(Rails.configuration.x.announcement_account_address, class: 'button is-mastodon', target: '_blank', rel: 'me') do %>
              <span class="icon is-small"><i class="fa fa-mastodon" aria-hidden="true"></i></span> <span><%= t('follow_us_on_the_fediverse') %></span>
            <% end %>
          <% end %>
        </p>
      </div>
    </footer>
  </body>
</html>
